[flake8]
max-line-length = 100

extend-ignore =
    E203,W503,
    E302,E305,
    W293,W291,W292,
    E501,
    E222,E261,E262,E265,E266,
    E401,
    E711,E712,E713,
    E721,E722,
    E731,E741,
    E116,E117,E121,E122,E125,E127,E128,E131,
    F401,F403,F811,F841,F541,
    E225,E231

exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache,
    build,
    dist,
    docs,
    docs/build,
    docs/source/api,
    .mypy_cache,
    src/clusterllm/perspective/finetuning/InstructorEmbedding

per-file-ignores =
    tests/*: D
