# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Tests
.pytest_cache/

# Docs
docs/build/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Experiment outputs
B[Embeddings]/
C[Clustering]/
D[Cluster]/

# Caches
.mypy_cache/
.dvc/tmp/gdrive-user-credentials.json
.dvc/tmp/gdrive-user-credentials.json
.dvc/tmp/gdrive-user-credentials.json
