# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Data (On ignore les gros fichiers, mais on force l'acceptation des .dvc)
/data/*
!*.dvc
!/data/.gitignore

# IDE
.vscode/
.idea/

# DVC Config
!/.dvc/
